
body {
font-family: Fantasy, Jazz LET, "Fantasy";
  background-color:
  color: indigo;
  border: solid 8px indigo;
  padding:25px
  font-size:120%
}

div#content {
    padding: 50px;
    background-color: powderblue;
    border: solid 1px #333333;
    min-height: 80vh;
}
div#screenshots {
    padding: 50px;
    background-color: powderblue;
    border: solid 1px #333333;
    min-height: 80vh;
}

h1, h2, h3 {
    font-family: "Fantasy", Jazz LET;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}
