
body {
  background-color: #94d2bd;
  background-image: url("../img/moving-clouds.gif");
  background-size: repeat;
  border: ridge 10px #0a9396;
}
div#content {
    margin: 20px;
    padding: 50px;
    background-color: #219ebc;
    border: ridge 10px #0a9396;
    min-height: 80vh;
    font-family: "jeanne-moderno-ultra";
    font-weight: 800;
    font-style: normal;
    color: #001219;
    text-align: center;
}
h1 {
  font-family: "jeanne-moderno-geometrique",sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font-family: "jeanne-moderno-regular";
  font-size: large;
  word-spacing: 2px;
  line-break: loose;
  column-count: 2;
}
div#selfies {
    padding: 20px;
    background-color: #001219;
    width: 50%;
    height: auto;
    float: center;
  }
sidebar#aside {
  margin-top: 5px;
  display: inline-block;
  min-width: 300px;
  width: 30%;
  position: sticky;
  z-index: 10;
  bottom: 0px;
  left: 10px;
  float: right;
  background-color: #94d2bd;
  border: ridge 5px #001219;
  border-radius: 25px;
  padding: 12px;
}
img {
  display: flex;
  flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #9b2226;
    letter-spacing: 2px;
}
/* hover stuff */
h1:hover {
  text-shadow: 2px 2px #000;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}
img:hover {
  filter: grayscale(200%);
  transition-duration: 2s;
}
@media screen and (max-width: 600px){
  .images img{
    width:100% !important;

}
