body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
  background-color: #90ee90;
}
  }
  /*border, fonts, and h1, h2:hover, white background box*/
#minor-section {
  border: ridge 7px #000000;
}
#title, #minor-section {
  padding: auto 20px 10px 20px;
  width: 95%;
  margin-bottom: 20px;
}
h1, h2, h3 {
  font-family: Verdana, monospace;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
p {
  font-family: Verdana, serif;
  text-align: center;
  color: #000000;
}
h1, h2:hover {
  color: pink;
  text-shadow: 2px 2px #000000;
}
.summary {
  padding: 1px 10px;
  background-color: white;
}
/*image borders,hover,transition*/
.image1 img{
  border: dotted 5px #000000;
}
.image1 img:hover {
  filter:hue-rotate(80deg);
}
.image1 img{
  transition: all 3s ease-out;
}
/*homepage navigation*/
nav a {
  color: black;
  text-transform: uppercase;
  font-size: 105%;
  text-decoration: underline wavy pink;
}
#homepage {
  text-align: center;
}
nav a:hover {
   text-decoration: underline;
   color: pink;
 }
