body {
  background-image: url('../img/space-backgrd.jpg');
  background-size: cover;
  background-color: #0d2132;
  margin-top: 200px;
  margin-left: 400px;
  width: 600px;
}
/* typography */
#title {
  font-family: "bulletto-killa.ttf";
}
h1 {
  font-family: "pauline" ,sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #71c0ba;
  font-size: 500%;
  text-shadow: 1px 1px #4F6D7A;
}
#subtitle {
  font-size: 70%;
  color: #f0a077;
  top: 125%;
  font-family: "giulia" ,sans-serif;
  font-weight: 300;
  font-style: normal;
}
p {
  color: #0d2132;;
  top: 130%;
  font-family: "giulia" ,sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* style */
.button{
  background-color: #f95f5a;
  shape-outside: round;
}
.textstuff {
  top:15%;
  left:50%;
  transform: translate(-25%, -25%);
}

/* .textstuff {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-25%, 50%);
} */
