body {
  /* background-image: url('../img/space-backgrd.jpg');
  background-size: cover; */
  background-color: #0d2132;
  margin-top: 200px;
  margin-left: 400px;
  width: 600px;
  z-index: -200;
}
/* PNG Stuff */
#planets {
  z-index: -1000;
  max-width: 900px;
}
  .big-planet img{
    left:  0px;
    z-index: -10;
    position: absolute;
    bottom: 0px;
    width: 60%;
  }
  .blue-planet img{
     float: right 10px;
    z-index: -20;
    position: absolute;
    bottom: 0px;
    width: 20%;
  }
  .comet img{
    top: 400px;
    right: 13%;
    width: 40%;
    position: absolute;
    z-index: -50;
  }
  .little-planet img{
    width: 5%;
    top: 90px;
    position: absolute;
    z-index: -60;
  }
  .tiny-planet img{
    max-width: 5%;
    position: absolute;
    right: 100px;
    top: 300px;
  }
/* typography */
#title {
  line-height: 1;
  position: relative;
  width: 800px;
  transform: rotate(-2deg);
  margin-top: 300px;
  margin-left: -10px;
  z-index: 100;
}
#shrink {
  font-size: 4.65rem;
}
h1 {
  font-size:6.25rem;
  font-family: "pauline" ,sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #9DFEED;
  text-shadow: 2px 2px #3D8B98;
  text-align: center;
}
#subtitle {
  text-align: center;
}
h3 {
  font-size: 1rem;
  color: #f0a077;
  top: 125%;
  font-family: "giulia" ,sans-serif;
  font-weight: 300;
  font-style: normal;
}
p {
  color: #0d2132;;
  top: 130%;
  font-family: "giulia" ,sans-serif;
  font-weight: 300;
  font-style: normal;
  z-index: 50;
  text-align: center;
}
/* style */
.button{
  background-color: #f95f5a;
  border-radius: 3rem;
  padding: 1.2rem, 2rem;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  z-index: 40;
}
.content {
  top:15%;
  left:50%;
  transform: translate(-15%, -50%);
  line-break: 2em;
  /* text-align: center; */
}

/* .textstuff {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-25%, 50%);
} */
